$nrRedColor: #f65261;
$nrBlackColor: #232323;
$nrGrayColor: #424242;
$nrWhiteColor: #ffffff;

.NxrToogle {
  display: flex;
  align-items: center;

  .NxrToogle_ModeTitle {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  .NxrToogle_Container {
    display: flex;
    text-align: center;
    margin-left: 10px;

    .NxrToogle_Btn {
      border: 0;
      outline: none;
      border-radius: 3%;
      padding: 15px 25px;
      cursor: pointer;
      color: #fff;
      font-family: Montserrat, Helvetica, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
    }

    /*.NxrToogle_Btn_Radio {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
    }*/

    .NxrToogle_Btn-Active {
      background-color: $nrRedColor;
    }

    .NxrToogle_Btn-Inactive {
      background-color: rgba( $nrGrayColor, .7 );
    }

  }
}
