$nrRedColor: #f65261;
$nrBlackColor: #232323;
$nrGrayColor: #424242;
$nrWhiteColor: #ffffff;

.NxrToogle {
  display: flex;
  align-items: center;

  .NxrToogle_ModeTitle {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  .NxrToogle_Btn {
    display: flex;
    text-align: center;
    margin-left: 10px;
    background-color: rgba( $nrGrayColor, .4 );
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 3%;
    outline: none;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 25px;

    .NxrToogleBtn_First {
      margin-right: 10px;
    }

    .NxrToogleBtn_Second {
      margin-left: 10px;
    }
  }

}
