$infoColor: darken(#fff, 35%);
$nrRedColor: #f65261;

.MovCard {
  margin: 30px;
  max-width: 300px;

  .Row {
    margin-top: 10px
  }

  .MovCard_MovieTitle {
    flex-grow: 1;
  }

  .mov-link, .mov-link:active, .mov-link:hover {
    color: $infoColor;
    text-decoration: none;
  }

  .MovCard_MovieInfo {
    color: $infoColor;
    font-size: 12px;
  }

  .MovCard_MovieInfoBorder {
    border: 2px solid $infoColor;
    border-radius: 5px;
    max-height: 15px;
    padding: 1px 10px;
  }
}