$nrRedColor: #f65261;
$nrBlackColor: #232323;
$nrWhiteColor: #ffffff;

.mov-search {
  background-color: $nrBlackColor;
}

.mov-search__search-title {
  text-transform: uppercase;
  color: $nrWhiteColor;
}