$nrRedColor: #f65261;
$nrBlackColor: #232323;
$nrWhiteColor: #ffffff;

.MovSearch {
  display: flex;
  flex-direction: column;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../../assets/movie_bg.jpg');
  padding-top: 20px;
  padding-bottom: 60px;
}

.MovSearch_Logo {
  margin-left: 4vw;
}

.MovSearch_Content {
  margin-left: 7vw;
  margin-right: 7vw;
}