$nrBlackColor: #232323;

.MovieResult {
  color: #fff;
  background-color: $nrBlackColor;

  .MovieResult_MovieCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

