$nrRedColor: #f65261;
$nrBgColor: #555555;
$nrBlackColor: #232323;

.app {
  background-color: $nrBgColor;
}

.app__content {
  min-height: 100vh;
  margin: auto;
  max-width: 1200px;
  border-left: 1px solid $nrBlackColor;
  border-right: 1px solid $nrBlackColor;
  box-shadow: 12px 0 15px -4px $nrBlackColor, -12px 0 8px -4px $nrBlackColor;
}

//Common:

.Row {
  display: flex;
}

